<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--头部导航栏-->
<!--顶部导航栏-->
<header class="page-topbar" id="header" th:fragment="topbar1">
  <div class="navbar navbar-fixed">
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-purple-deep-orange gradient-shadow">
      <div class="nav-wrapper">
        <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
          <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize" data-search="template-list">
          <ul class="search-list collection display-none"></ul>
        </div>

        <ul class="navbar-list right">
          <li class="dropdown-language">
            <a class="waves-effect waves-block waves-light translation-button" href="#" data-target="translation-dropdown">
              <span class="flag-icon flag-icon-gb"></span>
            </a>
          </li>

          <li class="hide-on-med-and-down">
            <a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);">
              <i class="material-icons">settings_overscan</i>
            </a>
          </li>

          <li class="hide-on-large-only search-input-wrapper">
            <a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);">
              <i class="material-icons">search</i>
            </a>
          </li>

          <li>
            <a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown">
              <i class="material-icons">notifications_none
                <small class="notification-badge">5</small>
              </i>
            </a>
          </li>

          <li>
            <a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown">
              <span class="avatar-status avatar-online">
                <img th:src="@{app-assets/images/avatar/avatar-7.png}" alt="avatar">
                <i></i>
              </span>
            </a>
          </li>

          <li>
            <a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right">
              <i class="material-icons">format_indent_increase</i>
            </a>
          </li>
        </ul>
        <!-- translation-button-->
        <ul class="dropdown-content" id="translation-dropdown">
          <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="en"><i class="flag-icon flag-icon-gb"></i> 英语</a></li>
          <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="fr"><i class="flag-icon flag-icon-fr"></i> 法语</a></li>
          <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="pt"><i class="flag-icon flag-icon-pt"></i> 葡萄牙</a></li>
          <li class="dropdown-item"><a class="grey-text text-darken-1" href="#!" data-language="de"><i class="flag-icon flag-icon-de"></i> 德国</a></li>
        </ul>
        <!-- notifications-dropdown-->
        <ul class="dropdown-content" id="notifications-dropdown">
          <li>
            <h6>消息<span class="new badge">5</span></h6>
          </li>
          <li class="divider"></li>
          <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> 一个新的订单</a>
            <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">2小时前</time>
          </li>
          <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> 收藏的内容</a>
            <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">3天前</time>
          </li>
          <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> 设置更新</a>
            <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">4天前</time>
          </li>
          <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> 日期开始时间</a>
            <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">6天前</time>
          </li>
          <li><a class="black-text" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> 数据展示</a>
            <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">1周前</time>
          </li>
        </ul>
        <!-- profile-dropdown-->
        <ul class="dropdown-content" id="profile-dropdown">
          <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i>个人信息</a></li>
          <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> 图表</a></li>
          <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i>帮助</a></li>
          <li class="divider"></li>
          <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i>锁定</a></li>
          <li><a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i>退出</a></li>
        </ul>
      </div>
      <nav class="display-none search-sm">
        <div class="nav-wrapper">
          <form id="navbarForm">
            <div class="input-field search-input-sm">
              <input class="search-box-sm mb-0" type="search" required="" id="search" placeholder="Explore Materialize" data-search="template-list">
              <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
              <ul class="search-list collection search-list-sm display-none"></ul>
            </div>
          </form>
        </div>
      </nav>
    </nav>
  </div>

</header>


<!--侧边栏-->
<!-- BEGIN: SideNav-->
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light navbar-full sidenav-active-rounded" th:fragment="sidebar1">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a class="brand-logo darken-1" href="index.html">
        <img src="app-assets/images/logo/materialize-logo.png" alt="materialize logo" />
        <span class="logo-text hide-on-med-and-down">后台管理</span>
      </a>
      <a class="navbar-toggler" href="#">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>

  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="active bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="Dashboard">药物管理</span><span class="badge badge pill orange float-right mr-10">3</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">

          <li class="active">
            <a th:class="${active=='index.html'?'active':''}" th:href="@{/admin}">
            <i class="material-icons">radio_button_unchecked</i>
            <span data-i18n="Modern">药材管理</span>
            </a>
          </li>

          <li>
            <a th:class="${active=='prescript.html'?'active':''}" th:href="@{/searchPrescript}">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="eCommerce">药单管理</span>
            </a>
          </li>

          <li>
            <a href="dashboard-analytics.html">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Analytics">饼图</span>
            </a>
          </li>

        </ul>
      </div>
    </li>

    <li class="bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)">
        <i class="material-icons">dvr</i>
        <span class="menu-title" data-i18n="Templates">药物管理</span>
      </a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li>
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Vertical">点赞数量</span>
            </a>
          </li>
          <li>
            <a class="collapsible-header waves-effect waves-cyan" href="JavaScript:void(0)">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Horizontal">柱状图</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header">
      <a class="navigation-header-text">Applications</a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold">
      <a class="waves-effect waves-cyan " href="app-kanban.html">
        <i class="material-icons">format_list_bulleted</i>
        <span class="menu-title" data-i18n="Kanban">用户管理</span>
      </a>
    </li>

    <li class="bold">
      <a class="waves-effect waves-cyan " href="app-file-manager.html">
        <i class="material-icons">content_paste</i>
        <span class="menu-title" data-i18n="File Manager">药方管理</span>
      </a>
    </li>

    <li class="bold">
      <a class="waves-effect waves-cyan " href="app-contacts.html">
        <i class="material-icons">import_contacts</i>
        <span class="menu-title" data-i18n="Contacts">Contacts</span>
      </a>
    </li>

    <li class="navigation-header">
      <a class="navigation-header-text">Pages </a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold">
      <a class="waves-effect waves-cyan " href="user-profile-page.html">
        <i class="material-icons">person_outline</i>
        <span class="menu-title" data-i18n="User Profile">User Profile</span>
      </a>
    </li>

    <li class="bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)">
        <i class="material-icons">content_paste</i>
        <span class="menu-title" data-i18n="Pages">Pages</span>
      </a>

    </li>

    <li class="navigation-header">
      <a class="navigation-header-text">User Interface </a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)">
        <i class="material-icons">cast</i>
        <span class="menu-title" data-i18n="Cards">Cards</span>
      </a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li>
            <a href="cards-basic.html">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Cards">Cards</span>
            </a>
          </li>
          <li>
            <a href="cards-advance.html">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Cards Advance">Cards Advance</span>
            </a>
          </li>

          <li>
            <a href="cards-extended.html">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Cards Extended">Cards Extended</span>
            </a>
          </li>

        </ul>
      </div>
    </li>




    <li class="navigation-header"><a class="navigation-header-text">Tables &amp; Forms </a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="table-basic.html"><i class="material-icons">border_all</i><span class="menu-title" data-i18n="Basic Tables">Basic Tables</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="table-data-table.html"><i class="material-icons">grid_on</i><span class="menu-title" data-i18n="Data Tables">Data Tables</span></a>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Charts</a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">pie_chart_outlined</i><span class="menu-title" data-i18n="Chart">Chart</span></a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li><a href="charts-chartjs.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">ChartJS</span></a>
          </li>
        </ul>
      </div>
    </li>

    <li class="navigation-header"><a class="navigation-header-text">Misc </a><i class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li class="bold"><a class="waves-effect waves-cyan " href="https://pixinvent.com/materialize-material-design-admin-template/documentation/index.html" target="_blank"><i class="material-icons">import_contacts</i><span class="menu-title" data-i18n="Documentation">Documentation</span></a>
    </li>
    <li class="bold"><a class="waves-effect waves-cyan " href="https://pixinvent.ticksy.com/" target="_blank"><i class="material-icons">help_outline</i><span class="menu-title" data-i18n="Support">Support</span></a>
    </li>
  </ul>
  <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>
<!-- END: SideNav-->


<!--底部-->
<footer class="page-footer footer footer-static footer-dark gradient-45deg-purple-deep-orange gradient-shadow navbar-border navbar-shadow" th:fragment="dibu">
  <div class="footer-copyright">
    <div class="container"><span>&copy; 2024 <a href="http://www.bootstrapmb.com" target="_blank">PIXINVENT</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed By <a href="http://www.bootstrapmb.com/">bootstrapmb</a></span></div>
  </div>
</footer>

</html>