<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
	<meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
	<meta name="author" content="ThemeSelect">
	<title>首页</title>

	<link rel="apple-touch-icon" th:href="@{/app-assets/images/favicon/apple-touch-icon-152x152.png}">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/app-assets/images/favicon/favicon-32x32.png}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<link  rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">

	<!-- BEGIN: VENDOR CSS-->
	<link rel="stylesheet" type="text/css"  th:href="@{/app-assets/vendors/vendors.min.css}">

	<!-- BEGIN: Page Level CSS-->
	<link rel="stylesheet" type="text/css"  th:href="@{/app-assets/css/themes/vertical-menu-nav-dark-template/materialize.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/app-assets/css/themes/vertical-menu-nav-dark-template/style.css}">

</head>

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-menu-nav-dark preload-transitions 2-columns   " data-open="click" data-menu="vertical-menu-nav-dark" data-col="2-columns">


<!--顶部导航-->
<div th:replace="~{commons/adminCommonts::topbar1}"></div>


<!--侧边栏-->
<!--传递参数给组件-->
<div th:replace="~{commons/adminCommonts::sidebar1(active='list.html')}"></div>

<!-- 主页-->
<div id="main">
	<div class="row">
		<div class="content-wrapper-before blue-grey lighten-5"></div>
		<div class="col s12">
			<div class="container">
				<h5>我是list</h5>
				<div class="bs-example" data-example-id="panel-without-body-with-table" data-immersive-translate-effect="1" data-immersive-translate-mark="1">
					<div class="panel panel-default" data-immersive-translate-effect="1" data-immersive-translate-mark="1">
						<!-- Default panel contents -->
						<div class="panel-heading" data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Panel heading</font></div>

						<!-- Table -->
						<table class="table" data-immersive-translate-effect="1" data-immersive-translate-mark="1">
							<thead data-immersive-translate-effect="1" data-immersive-translate-block-mark="1" data-immersive-translate-mark="1">
							<tr data-immersive-translate-effect="1" data-immersive-translate-mark="1">
								<th data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">#</font></th>
								<th data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">First Name</font></th>
								<th data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Last Name</font></th>
								<th data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Username</font></th>
							</tr>
							</thead>
							<tbody data-immersive-translate-effect="1" data-immersive-translate-mark="1">
							<tr data-immersive-translate-effect="1" data-immersive-translate-mark="1">
								<th scope="row" data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">1</font></th>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Mark</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Otto</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">@mdo</font></td>
							</tr>
							<tr data-immersive-translate-effect="1" data-immersive-translate-mark="1">
								<th scope="row" data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">2</font></th>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Jacob</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Thornton</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">@fat</font></td>
							</tr>
							<tr data-immersive-translate-effect="1" data-immersive-translate-mark="1">
								<th scope="row" data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">3</font></th>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">Larry</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">the Bird</font></td>
								<td data-immersive-translate-effect="1" data-immersive-translate-mark="1"><font data-immersive-translate-effect="1" data-immersive-translate-mark="1">@twitter</font></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="content-overlay"></div>
		</div>
	</div>
</div>
<!-- END: Page Main-->

<!-- 底部-->

<div th:replace="~{commons/adminCommonts::dibu}"></div>

<script th:src="@{/app-assets/js/vendors.min.js}"></script>
<script th:src="@{/app-assets/js/plugins.js}"></script>

</body>

</html>